@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    margin: 0;
    padding: 0;
}


header {
    position: sticky;
    width: 100%;
    height: auto;
    background-color: rgb(188, 255, 196);
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}


nav ul li a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 5px;
} 

nav ul li a:hover {
    background-color:rgb(149, 255, 161);
    transition: 0.5s;
}

main {
    position: relative;
    text-align:center;
    font-family: "Open Sans"; 
}

h1 {
    font-size: 40px;
}

.secondary-text {
    color:rgb(175, 175, 175);
}

.secondary-text:hover {
    color: black;
    transition: 0.5s;
}


.cards-list {
    position: relative;
    top: 50px;
    left: 15%;
    width: 45%;
}


.card {
    width: 300px;
    height: auto;
    padding: 15px; 
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    margin-left:15px;
}

.card-image {
    width: 275px;
    height: 340px; 
}

h5.card-title {
    font-family: "Montserrat";
    font-size: 25px;
}

.card-trigger {
    font-family: "Montserrat";
    color: red;
    font-size: 20px;
    margin-top: 10px;
}

.card .card-bottom {
    padding: 20px;
}

.card-link {
    text-decoration: none;
    color: rgb(0, 206, 0);
    padding: 10px;
    border: 1px solid rgb(0, 206, 0);
}

.card-link:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 206, 0);
    transition: 0.5s;
}

.articles {
    position: relative;
    top: 25px;
    left:35%;
    width: 60%;
}

article {
    width:50%;
}